:root {
    --background-dark: #2d3548;
    --text-light: rgba(213, 210, 223, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }

  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:aliceblue;
  }
  
  html {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }
  
  body {
    height: 100%;
    image-rendering: auto;
    background-size: cover;
    align-items: flex-end;
  }

nav{    
height: 80px;
width: 100%;
background-image: url('theme.jpg');
}

nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
color: #e4e2f0;
font-size: 14px;
padding: 7px 10px;
border-radius: 3px;
text-transform: uppercase;
font-weight: bold;
}
a.active,a:hover{
background: #e6dddde7;
transition: .5s;
}
.checkbtn{
font-size: 20px;
color: rgb(226, 210, 210);
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

@media (max-width: 952px){
.navbar-brand{
    height:82px;
    width:152px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 16px;
}
}
@media (max-width: 858px){
.checkbtn{
  display: block;
}
nav ul{
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #ccc3d3;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}
.navbar-brand{
    height:82px;
    width:152px;
  padding-left: 10px;
}
nav ul li{
  display: block;
  margin: 30px 0;
  line-height: 30px;
}
nav ul li a{
  font-size: 16px;
}
a:hover,a.active{
  background: none;
  color: #200320;
}    
}

a.menu {
color: rgb(224, 201, 201);
text-transform: uppercase;
text-decoration: none;
position: relative;
border-radius: 10px;
}

  .hero-section {
    align-items: flex-start;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media (min-width: 540px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 960px) {
    .card-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .card {
    list-style: none;
    position: relative;
  }
  
  .card:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background {
    background-size: cover;
    background-position: center;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transition: filter 200ms linear, transform 200ms linear;
    background-image: url('theme.jpg');
  }
  
  .card:hover .card__background {
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }

  